body {
    margin: 0;
    background-color: #edefef;
}

h1 {
    margin: 0;
    padding: 25px;
    padding-bottom: 0;
    text-align: center;
    background-color: white;
    border-bottom: .5px solid #f4f7f6;
    box-shadow: 1.5px 3px 3px 2px #656565;
    font-family: "metropolis";
    font-size: 80px;
}

.wrapper {
    margin: 40px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;

}

#map {
    height: 645px;
    width: 60%;
    box-shadow: 2px 5px 5px 0px #656565;
    border: 1.5px solid #E6EAEA;
    margin-right: 20px;
    margin-left: 20px;
}

img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.colonne {
    border-right: 3.5px solid #f4f7f6;
    height: 650px;
    width: 18%;
    box-shadow: 2px 5px 5px 0px #656565;
}

.twitter {
    border: 2px solid #E6EAEA;
    width: 20%;
    height: 645px;
    background-color: white;
    box-shadow: 2px 5px 5px 0px #656565;
    overflow: scroll;
}

@font-face {
    font-family: "metropolis";
    src: url("fonts/Metropolis.otf");
}
